.DS_Store
distribution_binaries/
distribution_package/
build/
Airship/Common/JS/UANativeBridge.c
Airship/AirshipLib.h
xcuserdata/
Airship/*.framework
*.xcworkspace/
AirshipDevelopment.plist
fabfile.py*
*.build_output
# Undo files for MacVim 
*.un~
*.swp
Deploy/output
test-output/
